<p id="notice"><%= notice %></p>

<h1>News Feed</h1>

<% @statuses.each do |status| %>
      
    <div class="statusbox">

        <span class="posttext"><%= status.blurb %></span>

    	<% unless status.postedby_user == status.ownedby_user %>
            <br>
    		 <%= link_to "Posted on " + status.ownedby_user.fullname + "'s wall", user_wall_path(status.ownedby_user) %>
             
    	<% end %>
    	    <br>   
            <span class="postby">
            <%= image_tag(status.postedby_user.pic, width:25) %>  
                    <%= link_to status.postedby_user.fullname, 
                            user_wall_path(status.postedby_user) %>
            <%= time_ago_in_words(status.created_at) %> ago
            </span>

            <br>            
            <%= link_to pluralize(status.likes,"Like"), like_path(status),method: :post %>
            
            <%= link_to pluralize(status.dislikes,"Dislike"), dislike_path(status),method: :post %>

        <% status.comments.order(:created_at).each do |comment| %>
            <div class="commentbox">
                <p><span class="posttext"><%= comment.blurb %></span></p>
                
                <span class="postby">
                <%= image_tag(comment.user.pic, width:25) %>  
                        <%= link_to comment.user.fullname, 
                                user_wall_path(comment.user) %>
                <%= time_ago_in_words(comment.created_at) %> ago
                </span>
                
            </div>
        <% end %>
        <br>
        <%= form_tag post_comment_path(status.id), :method => :post do |f| %>   
            <%= text_field_tag :comment, nil, :placeholder => 'Comment', class: 'commentinput'  %>
            <%= submit_tag "Post", :class => 'submit' %>
        <% end %>

    </div>

<% end %>
 
  