<!DOCTYPE html>
<html>
<head>
  <title>Creepybook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>

<div class="container">

	<header class="navbar navbar-default">

		<div class="container-fluid">

			<ul class="nav navbar-nav">

				<li><%= link_to 'Home', '/'%>  </li> 

				<% if @current_user.present? %>
					  <li><%= link_to "Edit profile", edit_user_path(@current_user) %> </li> 
					  <li><%= link_to "My Wall", user_wall_path(@current_user) %> </li> 
					  <li><%= link_to "Search", search_path %> </li> 
					  <li><%= link_to "Logout " + @current_user.fullname, login_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %>    </li>
				<% else %>
					      <li><%= link_to 'Signup!', new_user_path %></li>
				<% end %>
			      
			</ul>  
			
		</div>	<!-- /.container-fluid -->
		      
	</header>
	      
	<%= yield %>

</div>

</body>
</html>
